<template>
  <form class="form-horizontal" name="dependent-form">
    <hr />
    <div class="form-group">
      <label for="dependentName">Dependent Name</label>
      <input
        type="text"
        class="form-control dependent-name"
        id="dependentName"
        placeholder="Enter Full Name"
      />
    </div>

    <div class="form-group">
      <label for="dependentRelationship">Relationship to Employee</label>
      <select
        class="form-control dependent-relationship"
        id="dependentRelationship"
      >
        <option>Parent</option>
        <option>Spouse</option>
        <option>Child</option>
        <option>Sibling</option>
        <option>Other</option>
      </select>
    </div>

    <div class="form-group">
      <label for="dependentName">Birthday</label>
      <input
        type="date"
        id="dependentBirthday"
        class="form-control dependent-birthday"
        name="dependentBirthday"
      />
    </div>

    <div class="row">
      <div class="col">
        <div class="form-group">
          <div class="row">
            <div class="col">
              <label for="dependentMarried"> Married: </label>
            </div>
            <div class="col">
              <input
                type="checkbox"
                id="dependentMarried"
                class="form-control dependent-married"
                data-toggle="toggle"
              />
            </div>
            <div class="col">
              <label for="dependentEmployed"> Employed: </label>
            </div>
            <div class="col">
              <input
                type="checkbox"
                id="dependentEmployed"
                class="form-control dependent-employed"
                data-toggle="toggle"
              />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <button v-on:click="close" type="submit" class="btn btn-danger">
        Remove Dependent
      </button>
    </div>
  </form>
</template>

<script>
export default {
  name: "DependentForm",
  props: {
    depId: Number,
  },
  methods: {
    close: function() {
      this.$destroy();
      this.$el.parentNode.removeChild(this.$el);
    },
  },
};
</script>
