<template>
  <div class="bg">
    <img src='../assets/med.png' alt="opswerks logo" class="position">
  </div>

</template>

<style>
.bg {
  background-image: url('https://opswerks.com/media/img/machine_gears5.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 70vh;
  width: auto;
}
.position {
  position: absolute;
  top: 35%;
  left: 50%;
  height: auto;
  width: 28%;
  transform: translate(-50%, -50%)
  }
</style>
